default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: performer_development

test:
  <<: *default
  database: performer_test

production:
  <<: *default
  database: <%= ENV.fetch("DATABASE_NAME") { 'performer_production' } %>
  username: <%= ENV.fetch("DATABASE_USER_NAME") { 'performer' } %>
  password: <%= ENV.fetch("DATABASE_PASSWORD") { '1234567' } %>
